.wrapper {
	width: 100%;
	height: auto;
	font-family: 'PT Sans', sans-serif;
	}
/*Шапка и навигация сайта*/
.header {
	max-width: 1296px;
	padding: 40px 0px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
}
.search_filter_block {
	height: 100%;
	display: flex;
	align-items: center;
	color: var(--black, #333);
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 22.4px */
}
.search_btn {
	background: inherit;
	margin-right: 20px;
}
.search_value {

	width: 150px;
	height: 24px;
	opacity: 0.2;
	border-bottom: 1px solid #333;
}
.get_language {
	margin-left: 115px;
}
/*Основной контент - main*/
.main {
	width: 100%;
	height: auto;
}
/*Секции основного контента*/
.section_first {
	width: 100%;
	height: auto;
	background-image: url('../images/section_first/bg_section_first.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.section_content_center {
	margin: 0px auto;
	padding: 113px 0px;
	max-width: 1296px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section_description {
	flex: 0 1 526px;
}
.main_title {
	color: var(--white, #FFF);
	font-family: PT Sans;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 70px */
	margin-bottom: 40px;
}
.white_description {
	color: var(--white, #FFF);
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 22.4px */
	max-width: 322px;
	margin-bottom: 64px;
}
.link_block {
	display: flex;
	align-items: center;
	gap: 10px;
}
.white_link_desc {
	color: var(--white, #FFF);
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 22.4px */
	letter-spacing: 1.6px;
	text-transform: uppercase;
}
.section_tabs {
	flex-grow: 0;
	flex-shrink: 1;
	max-width: 636px;
	height: auto;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 24px 24px;
}
.tabs_panel {
	flex: 0 1 48%;
	height: 250px;
	border-radius: 20px;
	padding: 30px 35px;
	position: relative;
}
.tabs_panel:hover {
	box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
.img_bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
	border-radius: 20px;
	z-index: 1;
	opacity: 0.7;
}
.tabs_panel_content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;
}
.tabs_panel_content_header, .tabs_panel_content_footer {
	color: var(--white, #FFF);
	font-family: PT Sans;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 26.6px */
}
.tabs_panel_content_header {
	flex: 1 1 auto;
}

/*Верстка footer сайта*/
.footer {
	width: 100%;
	height: auto;
}
/*Верхний блок footer с ссылками и адресом*/
.footer_header {
	width: 100%;
	opacity: 0.85;
	background: var(--purple, #3D348B);
}
.footer_header_content {
	max-width: 1296px;
	margin: 0px auto;
	padding: 45px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_content_adress {
	display: flex;
	align-items: center;
}
.adress {
	color: var(--white, #FFF);
	font-family: "PT Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 22.4px */
	margin-left: 20px;
}
.header_content_contact {
	display: flex;
	gap: 30px;
}
.content_contact_link {
	display: flex;
	align-items: center;
}
/*Навигационные ссылки footer*/
.footer_content_nav {
	width: 100%;
	height: auto;
	background: var(--purple, #3D348B);
}
.footer_nav {
	max-width: 1296px;
	margin: 0px auto;
	padding: 80px 0px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer_nav_block {
	flex: 0 1 auto;
}
.nav_block_title {
	color: var(--white, #FFF);
	font-family: "PT Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 22.4px */
	letter-spacing: 1.6px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.nav_block_list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.nav_block_item {
	color: var(--white, #FFF);
	font-family: "PT Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */
}
.nav_block_item a {
	color: var(--white, #FFF);
	font-family: "PT Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */
}

/*Страница - О компании */

/*Главная секция - section_about_company */
.section_about_company {
	width: 100%;
	height: auto;
	position: relative;
}
.about_company_bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--purple, #3D348B);
	opacity: 0.05;
	z-index: 1;
}
.about_company_content {
	padding: 100px 0px;
	max-width: 1296px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	position: relative;
	z-index: 2;
	gap: 60px 0px;
}
.company_content_header {
	flex: 0 1 100%;
}
.company_content_left {
	flex-shrink: 1;
	flex-grow: 1;
	max-width: 636px;
}
.company_content_right {
	flex-shrink: 1;
	flex-grow: 1;
	max-width: 526px;
}
.video_block {
	width: 100%;
	height: auto;
	display: flex;
	border-radius: 20px;
	position: relative;
	margin-bottom: 20px;
}
.bg_img_video{
	width: 100%;
	height: auto;
	object-fit: cover;
}
.btn_img {
	position: absolute;
	width: 80px;
	height: 80px;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.request_tabs {
	width: 100%;
	padding: 30px 35px;
	border-radius: 20px;
	background: var(--blue, #5DB7DE);
	display: flex;
	flex-direction: column;
	height: 170px;
}
.p13 {
	font-size: 15px;
	text-transform: uppercase;
}